@charset "UTF-8";
/* normilize default properties */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: unset;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  all: initial;
}

:root {
  --white: #ffffff;
  --gray: #A8ACB7;
  --blue-accent: #3500FC;
  --background: #0D0D0D;
  --hover: #00FCDB;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  box-sizing: content-box;
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 800px;
  z-index: 1;
}
.bg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 130px;
  min-height: 48px;
  padding: 16px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  background-color: transparent;
  color: var(--white);
  border-radius: 10px;
  transition: all 200ms ease;
  border: 2px solid var(--white);
}
@media (hover: hover) {
  .btn-small:hover {
    color: var(--hover);
  }
}
@media (hover: none) {
  .btn-small:active {
    color: var(--hover);
  }
}

.btn-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 182px;
  min-height: 60px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 166.6666666667%;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  background-color: var(--blue-accent);
  color: var(--white);
  border-radius: 10px;
  transition: all 350ms ease;
}
@media (hover: hover) {
  .btn-mid:hover {
    background-color: var(--hover);
  }
}
@media (hover: none) {
  .btn-mid:active {
    background-color: var(--hover);
  }
}

.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  min-height: 55px;
  margin: 12px;
  padding: 20px 18px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 10%;
  background-color: #d9d9d9;
  color: black;
  border-radius: 16px;
  transition: all 200ms ease;
}
@media (hover: hover) {
  .btn-large:hover {
    color: var(--hover);
  }
}
@media (hover: none) {
  .btn-large:active {
    color: var(--hover);
  }
}

p.preheader {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--hover);
}

.video {
  margin-block: 32px;
  max-width: 1600px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 4px;
}
.video iframe {
  max-width: 98vw;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overscroll-behavior-block: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--gray);
  text-align: left;
  background-color: var(--background);
}

.header {
  width: 100%;
  min-height: 40px;
  margin-bottom: 32px;
  position: relative;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 10px 8px;
}
@media (max-width: 500px) {
  .header__container {
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 10px;
  }
}
.header__logo {
  flex-shrink: 0;
  justify-content: flex-start;
}
.header__links {
  display: flex;
  flex-flow: row row-reverse;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.header__links a {
  color: var(--white);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  transition: all 280ms ease;
}
@media (hover: hover) {
  .header__links a:hover {
    color: var(--hover);
  }
}
@media (hover: none) {
  .header__links a:active {
    color: var(--hover);
  }
}
@media (max-width: 500px) {
  .header__links a {
    font-size: 14px;
  }
}
.header__cta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

main.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 28px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.hero {
  width: 100%;
  min-height: 600px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .hero {
    height: auto;
  }
}
.hero__content {
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    align-items: center;
    max-width: 98vw;
    padding: 4px;
    flex-flow: row wrap;
  }
}
.hero__icons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 12px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .hero__icons {
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 1rem;
  }
}
.hero__icons--icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--blue-accent);
  padding-top: 8%;
}
.hero__icons--icon img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-inline: auto;
  display: block;
}
.hero__text {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .hero__text {
    justify-content: center;
    align-items: center;
  }
}
.hero__text span {
  color: var(--blue-accent);
}
.hero__text h1 {
  color: var(--white);
  font-size: 100px;
  line-height: 94%;
  width: 623px;
  height: 309px;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 768px) {
  .hero__text h1 {
    font-size: 58.0964153276px;
    text-align: center;
  }
}
.hero__text p {
  font-size: 24px;
  line-height: 125%;
  max-height: 59px;
  width: 438px;
  max-width: 98vw;
  text-align: left;
}
@media (max-width: 768px) {
  .hero__text p {
    font-size: 14.8331273177px;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 2.2rem;
  margin-block: 32px;
  min-height: 946px;
}
@media (max-width: 768px) {
  .services {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.services__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  padding: 8px 4px;
}
@media (max-width: 768px) {
  .services__content {
    max-width: 98vw;
  }
}
.services__content--text h2 {
  font-size: 54px;
  line-height: 111.1111111111%;
  text-align: center;
  height: 185px;
  max-width: 1032px;
  color: var(--white);
  margin-bottom: 68px;
  padding: 8px 12px;
}
@media (max-width: 768px) {
  .services__content--text h2 {
    max-width: 98vw;
    font-size: 32px;
    height: 160px;
  }
}
.services__content--galery {
  width: 98vw;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  padding-inline: 8px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .services__content--galery {
    flex-flow: row wrap;
  }
}
@media (max-width: 768px) {
  .services__content--galery img {
    margin-inline: auto;
    display: block;
    width: 360px;
    height: 360px;
  }
}

.design {
  width: 100%;
  height: auto;
  margin-block: 32px;
}
.design__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 10px 12px;
  margin: 8px;
}
.design__column h2 {
  font-size: 54px;
  line-height: 111.1111111111%;
  color: var(--white);
  letter-spacing: -2px;
  text-align: center;
  font-weight: 700;
}
.design__row {
  display: flex;
  flex-flow: row nowrap;
  width: 98vw;
  min-height: 466px;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
@media (max-width: 768px) {
  .design__row {
    flex-flow: row wrap;
    row-gap: 32px;
  }
}
.design__row--element {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}
.design__row--element h3 {
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  letter-spacing: -1px;
  font-weight: 700;
}
.design__row--element__row--icon {
  margin-inline: auto;
  display: block;
}
.design__row--element__row--btn {
  margin-inline: auto;
  display: block;
}

.about {
  margin-block: 32px;
  width: 100%;
  min-height: 850px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.about__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 10px 8px;
}
@media (max-width: 768px) {
  .about__content {
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .about__picture img {
    width: 333.7453646477px;
    height: 401.7305315204px;
  }
}
.about__text h2 {
  font-size: 54px;
  line-height: 111.1111111111%;
  color: var(--white);
  letter-spacing: -2px;
  font-weight: 700;
  max-width: 556px;
  height: 125px;
  margin-bottom: 48px;
}
@media (max-width: 500px) {
  .about__text h2 {
    font-size: 33.3745364648px;
    text-align: center;
  }
}
.about__text p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  max-width: 532px;
  height: 44px;
  margin-bottom: 48px;
}
.about__text p.preheader {
  text-align: left !important;
}
@media (max-width: 500px) {
  .about__text p.preheader {
    text-align: center !important;
  }
}

.art {
  margin-block: 32px;
}
.art__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.art__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 98vw;
  flex-flow: column nowrap;
  row-gap: 1.2rem;
}
.art__heading h2 {
  font-size: 54px;
  line-height: 111.1111111111%;
  letter-spacing: -2px;
  color: var(--white);
}
.art__cover {
  max-width: 1920px;
  max-height: 745px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.art__cover img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .art__cover {
    max-width: 98vw;
    max-height: 460.4449938195px;
  }
}

.price {
  margin-block: 32px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 98vw;
}
.price__content {
  margin-block: 32px;
  height: auto;
  width: 100%;
}
.price__heading h2 {
  font-size: 54px;
  line-height: 111.1111111111%;
  letter-spacing: -2px;
  color: var(--white);
  text-align: center;
}
.price__row {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.2rem;
  width: 98vw;
  height: auto;
  padding: 8px 4px;
}
@media (min-width: 1200px) {
  .price__row {
    justify-content: center;
  }
}
.price__row--card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 2.2rem;
  width: 633px;
  height: 555px;
  max-width: 98vw;
  border-radius: 16px;
  border: 1px solid var(--blue-accent);
}
@media (max-width: 768px) {
  .price__row--card {
    width: 96vw;
  }
}
.price__row--card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 2.2rem;
}
.price__row--card ul h3 {
  font-size: 36px;
  line-height: 166.6666666667%;
  font-weight: 700px;
  color: var(--white);
}
.price__row--card ul p {
  text-align: center;
}
.price__row--card ul img {
  float: left;
  margin-right: 10px;
}
.price .price-label {
  font-size: 24px;
  line-height: 83.3333333333%;
  color: var(--hover);
  font-weight: 300px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: 32px auto;
}
@media (max-width: 768px) {
  .slideshow-container {
    max-width: 98vw;
  }
}

.mySlides {
  max-width: 633px;
  padding: 18px;
  min-height: 456px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .mySlides {
    max-width: 98vw;
  }
}
.mySlides img {
  margin-inline: auto;
  display: block;
}
.mySlides p {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -1px;
  font-weight: 400;
  text-align: center;
  max-width: 517px;
  min-height: 137px;
  margin-block: 32px;
}
.mySlides h5 {
  font-size: 24px;
  line-height: 133.3333333333%;
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: -1px;
  min-height: 29px;
  max-width: 98vw;
  margin-block: 32px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 24px;
  line-height: 133.3333333333%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .prev:hover, .next:hover {
    color: var(--hover);
  }
}
@media (hover: none) {
  .prev:active, .next:active {
    color: var(--hover);
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--hover);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
.small {
  min-height: 22px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  color: #A8ACB7;
  margin: 8px;
  padding: 4px;
}

.slider-navigation {
  margin-bottom: 32px;
  max-width: 98vw;
  margin-inline: auto;
}

.carousel {
  overflow: hidden; /* Скрываем все, что выходит за границы карусели */
  width: 98vw; /* Ширина карусели */
  max-width: 1600px;
  position: relative;
  margin-block: 32px;
  padding: 8px 12px;
  /* Относительное позиционирование для анимации */
}

/* Относительное позиционирование для анимации */
.corusel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 768px) {
  .corusel-content {
    height: -moz-min-content;
    height: min-content;
  }
}

.carousel-track {
  display: flex;
  animation: scroll 12s linear infinite; /* Анимация движения */
}

.carousel-item {
  flex: 0 0 auto; /* Элементы не растягиваются */
  width: 200px; /* Ширина элементов карусели */
  margin: 0 77px; /* Отступы между элементами */
}

.carousel img {
  width: 100%; /* Полная ширина для изображения */
  height: auto; /* Автоматическая высота */
}

/* Анимация */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Двигаем на 100% влево */
  }
}
/* Зацикливание */
.carousel-track::after {
  content: "";
  display: inline-block; /* Это позволяет создать зацикливание */
  width: 100%; /* Заполняем оставшееся пространство */
}

.blog {
  width: 100%;
  height: auto;
  min-height: 705px;
  margin-block: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 32px;
}
.blog h3 {
  max-width: 385px;
  min-height: 60px;
  font-size: 54px;
  line-height: 111.1111111111%;
  letter-spacing: -2px;
  font-weight: 600px;
  text-align: center;
  color: var(--white) !important;
}
.blog__content {
  height: inherit;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}
.blog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 55px;
}
.blog__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-flow: row nowrap;
  height: 528px;
  padding: 10px 8px;
}
@media (max-width: 768px) {
  .blog__row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
  }
}
.blog__cover {
  width: 410px;
  height: 320px;
  margin-bottom: 12px;
}
.blog__cover img {
  margin-inline: auto;
  display: block;
}
@media (max-width: 768px) {
  .blog__cover {
    width: 253.3992583436px;
    height: 197.7750309023px;
  }
}
.blog__author {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8px;
}
.blog__author p {
  max-width: 100px;
  min-height: 24px;
  font-size: 14px;
  line-height: 171.4285714286%;
  color: var(--hover);
  letter-spacing: 0;
  text-align: left;
  text-wrap: nowrap;
}
.blog__title--article h2 {
  max-width: 319px;
  min-height: 59px;
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: left;
  color: var(--white);
}
.blog__data-comments {
  width: 98%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.blog article {
  width: 412px;
  height: 528px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 38px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}/*# sourceMappingURL=style.css.map */