


@mixin visually-hidden {
 position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin btn-sml {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 100px;
  min-height: 60px;
  padding: 16px 10px;
  text-align: center;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  background-color: transparent;
  color: var(--white);
  background-color: var(--blue-accent);
  border-radius: 10px;
  transition: all 200ms ease;
  border: none;
  @include hover {
    color: var(--hover);
  }

}
@mixin btn-mid  {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 182px;
  min-height: 60px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: calc(30 / 18 * 100%);
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  background-color: var(--blue-accent);
  color: var(--white);
  border-radius: 10px;
  transition: all 350ms ease;
  @include hover {
    background-color: var(--hover);
  }
}
@mixin btn-large {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  min-height: 55px;
  margin: 12px;
  padding: 20px 18px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 10%;
  background-color: #d9d9d9;
  color: black;
  border-radius: 16px;
  transition: all 200ms ease;
  @include hover {
    color: var(--hover);
  }
}